<!doctype html>
<html lang="en-US">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

  <title>OblOpg 3 TypeScript</title>
</head>

<body>
  <h1>String manipulations</h1>
  <div id="app">
    <input v-model="tekst" placeholder="Tekst">
    <select v-model="cases">
      <option value=toUpperCase>Upper case</option>
      <option value=toLowerCase>Lower case</option>
    </select>
    <button v-on:click="Tekst()" class="btn btn-primary">Do It</button>
    <div>{{ result }}</div>
  </div>

  <script src="bundle.js"></script>
</body>

</html>